extends layout

block content
  h1= title
  ul.inputs
    li
      ul.row.header
        li Nombre del Grupo
        li Invitados
        //- li Texto Invitacion
        li e-mail        
        li añadir a la lista
    li
      ul.row.body
        form#form(action="/rsvp" method="post" name="form")
          li 
            input(type="text", name="groupName")
          li 
            ul#guests
              button#addnew add new guest     
              li
                input(type="text" placeholder="Nombre Invitado")
                button#removeGuest remove
          //- li 
          //-   textarea(name="message", cols="30", rows="10")
          li
            input(type="email", name="email")        
          li
            input#btnsubmit(type="submit", value="Añadir")
  h2 Groups
  ul.inputs
    li
      ul.row.header
        li Nombre del Grupo
        li.small N Invitados
        li e-mail        
        li Invitados
        li.small enviar email
        li.small editar
        li.small eliminar
        
    li     
      if (groups.length !== 0)
        each group in groups
          ul.row.body
            input(type="text", name="_id", value=group._id).hidden
            li #{group.groupName} ( #{group.code} )
            li.small= group.size
            li= group.email
            li
              ul.persons
                each person in group.list
                  li
                    div.name= person.guesName
                    div                
                      input(type="checkbox", name="assist", checked=(person.attend ? "checked" : undefined) disabled="disabled")
            li.small
              button.send-email Enviar
            li.small
              button#edit Editar
            li.small
              button.eliminar Eliminar
      else        
        ul.row.body
          li No hay grupos todavia
      
      